{% extends 'base.html.twig' %}

{% block title %}Hello AccueilContollerController!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="display-3">BIENVENU SUR SAMA DËKUWAYY</h2>
        <p class="lead">Votre site d'annonces de logement.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
        </p>
    </div>

    <h2 class="my-5"> Les dernières annonces...</h2>
    <div class="row">
        {% for anounce in anounces %}
        <div class="col-md-3 d-flex  align-items-stretch">
            <div class="card shadow-lg text-center mb-5 bg-body rounded">
                <div class="card-header">
                    <strong> 
                    {% if anounce.rooms < 2 %} 
                        Une Chambre 
                    {% else %}
                        {{ anounce.rooms }} Chambres
                    {% endif %}  à {{ anounce.price | number_format(0, ',', ' ')}}Fcfa <br> <small>{{ anounce.comments.count()}} commentaires </small></strong>
                </div> 
                <img style="width: 240px; height: 100px;" class="card-img-top" src="{{vich_uploader_asset(anounce, 'coverImage')}}" alt="{{anounce.imageName}}">
                <div class="card-body">
                    <small style="font-size: 1rem; color:black;"class="card-title"> {{ anounce.title }}</small>
                    <a class=" card-botom btn btn-primary" href=" {{path('anounce_show', {'slug': anounce.slug})}} "> Details </a>
                </div>
                <div class="card-footer">
                    <small><i class="fas fa-map-marker-alt">{{ anounce.address }}</i></small>
                    <br><small>Publié {{anounce.createdAt|ago(locale='fr')}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
