{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Gérer les Annonces</h1>

{% for message in app.flashes('success') %}
    <div class='alert alert-success'>{{message}}</div>
{% endfor %}
<table class="table table-striped">
    <thead >  
        <tr>      
            <th>Titre</th>
            <th>Prix</th>
            <th>Disponibilité</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for anounce in anounces %}
        <tr>
            <td>{{anounce.title}}</td>
            <td>{{anounce.price}}</td>
            <td>
                <label class="toggle-switchy" for="example_colors_4" data-size="sm" data-style="rounded" data-color="green">
                    {% if anounce.isAvailable == 1  %}
                        <input checked type="checkbox" id="example_color_1">
                    {% elseif anounce.isAvailable == 0  %}
                        <input disabled checked type="checkbox" id="example_color_1">
                    {% endif %}
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
				</label>
            </td>
            <td>  <a href=" {{path('admin_anounce_edit', {'slug': anounce.slug})}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>        <a href=" {{path('admin_anounce_delete', {'slug': anounce.slug})}} "><i class="fas fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-right">
    <a href="{{path('admin_anounce_new')}}" class="btn btn-primary">Nouvelle Annonce</a>    
</div> 
{% endblock %}
