{% extends 'base.html.twig' %}

{% block title %}Anounce index{% endblock %}

{% block body %}

<h1 class="my-5">Toutes les annonces...</h1>

<div class="row">
    {% for anounce in anounces %}
    <div class="col-md-4 d-flex  align-items-stretch">
        <div class="card shadow-lg text-center mb-5 bg-body rounded">
            <div class="card-header">
                <p><strong> {{ anounce.rooms }} Chambres à {{ anounce.price }}Fcfa <br> <small>{{ anounce.comments.count()}} commentaires </small></strong></p>
            </div> 
            <img style="width:300px; heigth: 300px; " class="card-img-top" src="{{vich_uploader_asset(anounce, 'coverImage')}}" alt="{{anounce.imageName}}">
            <div class="card-body">
                <small style="font-size: 1rem; color:black;"class="card-title"> {{ anounce.title }}</small><br>
                <a class=" card-botom btn btn-primary" href=" {{path('anounce_show', {'id': anounce.id})}} "> Details </a>
            </div>
            <div class="card-footer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg><small>{{ anounce.address }}</small>
            <br><small>Publié le {{anounce.createdAt|date('d-m-Y à H:i')}}</small>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{{ path('anounce_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
