<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <link rel="stylesheet" href="/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="/css/style.css"/>
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        {% endblock %}

        {% block javascripts %}
            <script>
                /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
                function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
                }

                /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
                function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.body.style.backgroundColor = "white";
                }
            </script>
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="/js/jquery.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
    <div id="main">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path("home") }}">Sama Dëkuwayy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="{{ path("home") }}">Accueil
                            <span class="sr-only">(current)</span>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{path('anounce_index')}}">Annonces</a>
                        </li>
                    </ul>
                    {% if app.user %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" onclick="openNav()"><i class="fas fa-user"></i> Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt">{{app.user.name}}  Se Deconnecter</i></a>
                        </li>
                    </ul> 
                    {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                        </li>
                    </ul>      
                    {% endif %}
                    
                </div>
            </nav>
        </header>
        <main class="container w-100 mt-2">
            <div id="mySidenav" class="sidenav bg-dark">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="nav-link" href="{{path('admin_anounce_index')}}">Gerer mes Annonces</a>
                <a href="{{path('user_edit_profil', {'id': app.user.id})}}">Modifier mon Profil</a>
                <a href="#">Se Deconnecter</a>
            </div>

            {% block body %}
                
            
            {% endblock %}
        </main>
        <footer class="text-center text-lg-start bg-dark text-white mt-4">
            <div class="text-center p-4">
                © 2021 Copyright: Simplon.co !!  
                <a class="text-reset fw-bold" href="https://alassaneseck94@gmail.com">RegulusAlou</a>
            </div>
        </footer>
    </div>
    </body>
</html>
